@model Item 


<label>Name</label>
<p>@Model.Name</p>
<br />
<label>Description</label>
<p>@Model.Description</p><br />
<label>Price Minimum</label>
<p>@Model.PriceMin</p><br />
<label>Price Maximum</label>
<p>@Model.PriceMax</p><br />
<label>Rating</label>
<p>@Model.Rating</p><br />
