@model Booking

@if (Model.Items != null && Model.Items.Count() > 0)
{
    <section>
        <p>Fill out this form!</p>

        <div asp-validation-summary="All" class="errorText"></div>
        @{string currentTime = DateTime.Now.AddDays(7).ToString("yyyy-mm-dd") + "T07:00:00:00.000";}; 
        
        <form asp-controller="Public" asp-action="CreateBooking" method="post">
            <label>TimeStart </label><input asp-for="TimeStart" value=@currentTime min="@currentTime" max=@DateTime.Now.AddYears(1).ToString("yyyy-mm-dd")/> <br />
            <label>TimeEnd </label><input asp-for="TimeEnd"  value=@currentTime min="@currentTime" max=@DateTime.Now.AddYears(1).ToString("yyyy-mm-dd")/> <br />
            <label>Name </label><input asp-for="Name" /> <br />
            <label>Street Address </label><input asp-for="StreetAddress" /> <br />
            <label>City </label><input asp-for="City" /> <br />
            <label>Zip Code </label><input asp-for="ZipCode" /> <br />
            <label>Email </label><input asp-for="Email" /> <br />
            <label>Phone Number  </label><input asp-for="PhoneNumber" /> <br />
            <label>Notes </label><input asp-for="Notes" placeholder="Let us know about your event!"/> <br />
            <input type="submit" value="Submit" />
        </form>
    </section>
    <section>
        <label>Items: </label>
        @{double price = 0;}
        @foreach (Item i in Model.Items)
        {
            <div class="CheckoutItem">
                @if (i.Images.Count() > 0)
                {
                    <img data="@i.Images.First()" class="CheckoutImage" />
                }
                <p class="CheckoutItemName">@i.ItemName</p>
                <p class="CheckoutItemDescription">@i.ItemDescription</p>
                <p class="CheckoutItemTypes">@i.Types</p>
            </div>

            price += i.Price;
        }
        <br />
        <p>Total Per Hour: @price</p>

    </section>
}
else
{
    <section>
        <p>Please add items in order to create a booking</p>
    </section>
}

